<a href="https://colab.research.google.com/github/Fentahun60/Fentahun/blob/main/access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [275]:
import pandas as pd

# Assuming the file is a Stata file (.dta)
df = pd.read_stata('/content/drive/MyDrive/selected_var_all.dta')

# Display the head of the DataFrame
display(df.head())

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,v157,v158,...,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,v467b,v467c,v467d,v467f,covered_by_health_insurance,Working_status
0,AO7,1,1086089,2016,38,no education,rural,male,not at all,not at all,...,no or unsure,yes,does not intend to use,no,not a big problem,big problem,big problem,not a big problem,no,yes
1,AO7,1,1086089,2016,40,no education,rural,male,not at all,not at all,...,yes,no,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes
2,AO7,1,1086089,2016,16,no education,rural,male,not at all,not at all,...,yes,no,does not intend to use,yes,big problem,big problem,not a big problem,not a big problem,no,yes
3,AO7,1,1086089,2016,43,primary,rural,male,not at all,not at all,...,no or unsure,yes,does not intend to use,no,big problem,big problem,not a big problem,not a big problem,no,yes
4,AO7,1,1086089,2016,25,no education,rural,male,not at all,not at all,...,no or unsure,no,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes

In [276]:
df.shape

(473294, 25)

In [277]:
# Create a cross-tabulation of 'Country' and 'v007'
cross_tab = pd.crosstab(df['Country'], df['v007'])

# Display the cross-tabulation
display(cross_tab)

v007,2008,2012,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Country,,,,,,,,,,,,
AO7,0,0,7266,7113,0,0,0,0,0,0,0,0
BF8,0,0,0,0,0,0,0,0,17659,0,0,0
BJ7,0,0,0,0,7387,8541,0,0,0,0,0,0
BU7,0,0,0,10012,7257,0,0,0,0,0,0,0
CD8,0,0,0,0,0,0,0,0,0,0,21684,5899
CI8,0,0,0,0,0,0,0,0,14877,0,0,0
CM7,0,0,0,0,0,14590,87,0,0,0,0,0
ET7,15683,0,0,0,0,0,0,0,0,0,0,0
GA7,0,0,0,0,0,0,911,4695,5437,0,0,0
GH8,0,0,0,0,0,0,0,0,0,13134,1880,0
GM7,0,0,0,0,0,0,2589,9276,0,0,0,0
GN7,0,0,0,0,0,10874,0,0,0,0,0,0
KE8,0,0,0,0,0,0,0,0,0,32156,0,0
KM6,0,5329,0,0,0,0,0,0,0,0,0,0
LB7,0,0,0,0,0,0,4529,3536,0,0,0,0
LS8,0,0,0,0,0,0,0,0,0,0,1844,4569
MD7,0,0,0,0,0,0,0,0,18869,0,0,0
ML8,0,0,0,0,0,0,0,0,0,0,5535,14819
MR7,0,0,0,0,0,0,3869,9407,2438,0,0,0
MW7,0,0,16606,7956,0,0,0,0,0,0,0,0
MZ8,0,0,0,0,0,0,0,0,0,11084,2099,0
NG8,0,0,0,0,0,0,0,0,0,0,4992,34058
RW7,0,0,0,0,0,0,3782,10852,0,0,0,0
SL7,0,0,0,0,0,0,15574,0,0,0,0,0
SN8,0,0,0,0,0,0,0,0,0,0,16583,0
TZ8,0,0,0,0,0,0,0,0,0,15254,0,0
UG7,0,0,0,18506,0,0,0,0,0,0,0,0
ZA7,0,0,0,8514,0,0,0,0,0,0,0,0
ZM7,0,0,0,0,0,13327,356,0,0,0,0,0

In [278]:
df.shape

(473294, 25)

In [279]:
# Delete all rows if the country is KM6
df = df[df['Country'] != 'KM6']

# Display the shape of the updated DataFrame to confirm the rows were removed
display(df.shape)

(467965, 25)

In [280]:
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display the number of missing values for each column
display(missing_values)

Country                                0
v001                                   0
v005                                   0
v007                                   0
Maternal_age                           0
highest_educational_level              0
Residence                              0
sex_of_hh                              0
v157                                   8
v158                                   0
v159                                   0
owns_mobile_telephone                  0
use_of_internet                        0
Wealth_index                           0
gave_birth_in_the_5yrs              5838
currently_pregnant                  5838
History_abortion                    5838
contraceptive_use_and_intention     5838
visited_HF_last_12months           27047
v467b                              27010
v467c                              27010
v467d                              27010
v467f                              27010
covered_by_health_insurance        43911
Working_status                      4688
dtype: int64

In [281]:
# Create a frequency table for 'v467b'
v467b_counts = df['v467b'].value_counts()

# Display the frequency table
display(v467b_counts)

v467b
not a big problem    355219
big problem           85736
9.0                       0
Name: count, dtype: int64

In [282]:
# Create a frequency table for 'v467b'
v467b_counts = df['v467c'].value_counts()

# Display the frequency table
display(v467b_counts)

v467c
big problem          231121
not a big problem    209834
9.0                       0
Name: count, dtype: int64

In [283]:
# Create a frequency table for 'v467b'
v467d_counts = df['v467d'].value_counts()

# Display the frequency table
display(v467d_counts)

v467d
not a big problem    280193
big problem          160762
9.0                       0
Name: count, dtype: int64

In [284]:
# Create a frequency table for 'v467b'
v467f_counts = df['v467f'].value_counts()

# Display the frequency table
display(v467f_counts)

v467f
not a big problem    340170
big problem          100785
9.0                       0
Name: count, dtype: int64

In [285]:
# Calculate the percentage of missing values for the specified columns
missing_percentage_v467b = (df['v467b'].isnull().sum() / len(df)) * 100
missing_percentage_v467c = (df['v467c'].isnull().sum() / len(df)) * 100
missing_percentage_v467d = (df['v467d'].isnull().sum() / len(df)) * 100
missing_percentage_v467f = (df['v467f'].isnull().sum() / len(df)) * 100

# Display the percentage of missing values
print(f"Percentage of missing values in 'v467b': {missing_percentage_v467b:.2f}%")
print(f"Percentage of missing values in 'v467c': {missing_percentage_v467c:.2f}%")
print(f"Percentage of missing values in 'v467d': {missing_percentage_v467d:.2f}%")
print(f"Percentage of missing values in 'v467f': {missing_percentage_v467f:.2f}%")

Percentage of missing values in 'v467b': 5.77%
Percentage of missing values in 'v467c': 5.77%
Percentage of missing values in 'v467d': 5.77%
Percentage of missing values in 'v467f': 5.77%

In [286]:
# Group by 'Country' and calculate the number of missing values for the specified columns
missing_values_by_country = df.groupby('Country')[['v467b', 'v467c', 'v467d', 'v467f']].apply(lambda x: x.isnull().sum())

# Calculate the total number of rows for each country
total_rows_by_country = df.groupby('Country').size()

# Calculate the percentage of missing values by country
missing_percentage_by_country = missing_values_by_country.divide(total_rows_by_country, axis=0) * 100

# Display the number of missing values by country
print("Number of missing values by Country:")
display(missing_values_by_country)

# Display the percentage of missing values by country
print("\nPercentage of missing values by Country:")
display(missing_percentage_by_country)

Number of missing values by Country:

         v467b  v467c  v467d  v467f
Country
AO7          0      0      0      0
BF8          0      0      0      0
BJ7          0      0      0      0
BU7          0      0      0      0
CD8          0      0      0      0
CI8          0      0      0      0
CM7       1150   1150   1150   1150
ET7          0      0      0      0
GA7       3132   3132   3132   3132
GH8          0      0      0      0
GM7          0      0      0      0
GN7          0      0      0      0
KE8      15255  15255  15255  15255
LB7          0      0      0      0
LS8          0      0      0      0
MD7          0      0      0      0
ML8       3152   3152   3152   3152
MR7          0      0      0      0
MW7          0      0      0      0
MZ8          0      0      0      0
NG8          0      0      0      0
RW7          0      0      0      0
SL7          0      0      0      0
SN8          0      0      0      0
TZ8          0      0      0      0
UG7          0      0      0      0
ZA7       4321   4321   4321   4321
ZM7          0      0      0      0

Percentage of missing values by Country:

             v467b      v467c      v467d      v467f
Country
AO7       0.000000   0.000000   0.000000   0.000000
BF8       0.000000   0.000000   0.000000   0.000000
BJ7       0.000000   0.000000   0.000000   0.000000
BU7       0.000000   0.000000   0.000000   0.000000
CD8       0.000000   0.000000   0.000000   0.000000
CI8       0.000000   0.000000   0.000000   0.000000
CM7       7.835389   7.835389   7.835389   7.835389
ET7       0.000000   0.000000   0.000000   0.000000
GA7      28.361858  28.361858  28.361858  28.361858
GH8       0.000000   0.000000   0.000000   0.000000
GM7       0.000000   0.000000   0.000000   0.000000
GN7       0.000000   0.000000   0.000000   0.000000
KE8      47.440602  47.440602  47.440602  47.440602
LB7       0.000000   0.000000   0.000000   0.000000
LS8       0.000000   0.000000   0.000000   0.000000
MD7       0.000000   0.000000   0.000000   0.000000
ML8      15.485900  15.485900  15.485900  15.485900
MR7       0.000000   0.000000   0.000000   0.000000
MW7       0.000000   0.000000   0.000000   0.000000
MZ8       0.000000   0.000000   0.000000   0.000000
NG8       0.000000   0.000000   0.000000   0.000000
RW7       0.000000   0.000000   0.000000   0.000000
SL7       0.000000   0.000000   0.000000   0.000000
SN8       0.000000   0.000000   0.000000   0.000000
TZ8       0.000000   0.000000   0.000000   0.000000
UG7       0.000000   0.000000   0.000000   0.000000
ZA7      50.751703  50.751703  50.751703  50.751703
ZM7       0.000000   0.000000   0.000000   0.000000

In [287]:
# Create a new column 'Problems in Accessing Health Care'
# It will be 'big problem' if any of the specified columns have 'big problem', otherwise 'not a big problem'
df['Problem_Access'] = df[['v467b', 'v467c', 'v467d', 'v467f']].apply(
    lambda row: 'big problem' if (row == 'big problem').any() else 'not a big problem', axis=1
)

# Display the value counts of the new column to verify
display(df['Problem_Access'].value_counts())

Problem_Access
big problem          273446
not a big problem    194519
Name: count, dtype: int64

In [288]:
df.head()

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,v157,v158,...,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,v467b,v467c,v467d,v467f,covered_by_health_insurance,Working_status,Problem_Access
0,AO7,1,1086089,2016,38,no education,rural,male,not at all,not at all,...,yes,does not intend to use,no,not a big problem,big problem,big problem,not a big problem,no,yes,big problem
1,AO7,1,1086089,2016,40,no education,rural,male,not at all,not at all,...,no,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes,not a big problem
2,AO7,1,1086089,2016,16,no education,rural,male,not at all,not at all,...,no,does not intend to use,yes,big problem,big problem,not a big problem,not a big problem,no,yes,big problem
3,AO7,1,1086089,2016,43,primary,rural,male,not at all,not at all,...,yes,does not intend to use,no,big problem,big problem,not a big problem,not a big problem,no,yes,big problem
4,AO7,1,1086089,2016,25,no education,rural,male,not at all,not at all,...,no,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes,not a big problem

In [289]:
# Create a frequency table for 'v157'
v157_counts = df['v157'].value_counts()

# Display the frequency table
display(v157_counts)

v157
not at all               398088
less than once a week     41560
at least once a week      27465
almost every day            844
9.0                           0
Name: count, dtype: int64

In [290]:
# Create a new column 'Media exposure'
# It will be 'Yes' if the woman reads a newspaper (v157), listens to the radio (v158),
# or watches TV (v159) at least once a week or almost every day. Otherwise 'No'.

# Define the conditions for 'Yes' and 'No'
yes_conditions = ['at least once a week', 'almost every day']
no_conditions = ['not at all', 'less than once a week', 'not applicable'] # Assuming 'not applicable' also means no media exposure

df['Media exposure'] = df[['v157', 'v158', 'v159']].apply(
    lambda row: 'Yes' if any(item in yes_conditions for item in row) else 'No', axis=1
)

# Display the value counts of the new column to verify
display(df['Media exposure'].value_counts())

Media exposure
No     237080
Yes    230885
Name: count, dtype: int64

In [291]:
df.head()

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,v157,v158,...,contraceptive_use_and_intention,visited_HF_last_12months,v467b,v467c,v467d,v467f,covered_by_health_insurance,Working_status,Problem_Access,Media exposure
0,AO7,1,1086089,2016,38,no education,rural,male,not at all,not at all,...,does not intend to use,no,not a big problem,big problem,big problem,not a big problem,no,yes,big problem,No
1,AO7,1,1086089,2016,40,no education,rural,male,not at all,not at all,...,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes,not a big problem,No
2,AO7,1,1086089,2016,16,no education,rural,male,not at all,not at all,...,does not intend to use,yes,big problem,big problem,not a big problem,not a big problem,no,yes,big problem,No
3,AO7,1,1086089,2016,43,primary,rural,male,not at all,not at all,...,does not intend to use,no,big problem,big problem,not a big problem,not a big problem,no,yes,big problem,No
4,AO7,1,1086089,2016,25,no education,rural,male,not at all,not at all,...,does not intend to use,no,not a big problem,not a big problem,not a big problem,not a big problem,no,yes,not a big problem,No

In [292]:
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display the number of missing values for each column
display(missing_values)

Country                                0
v001                                   0
v005                                   0
v007                                   0
Maternal_age                           0
highest_educational_level              0
Residence                              0
sex_of_hh                              0
v157                                   8
v158                                   0
v159                                   0
owns_mobile_telephone                  0
use_of_internet                        0
Wealth_index                           0
gave_birth_in_the_5yrs              5838
currently_pregnant                  5838
History_abortion                    5838
contraceptive_use_and_intention     5838
visited_HF_last_12months           27047
v467b                              27010
v467c                              27010
v467d                              27010
v467f                              27010
covered_by_health_insurance        43911
Working_status                      4688
Problem_Access                         0
Media exposure                         0
dtype: int64

In [293]:
# Drop the specified columns
df = df.drop(columns=['v467b', 'v467c', 'v467d', 'v467f', 'v157', 'v158', 'v159'])

# Display the head of the DataFrame to confirm the columns were dropped
display(df.head())

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,owns_mobile_telephone,use_of_internet,Wealth_index,gave_birth_in_the_5yrs,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure
0,AO7,1,1086089,2016,38,no education,rural,male,no,never,poorest,1.0,no or unsure,yes,does not intend to use,no,no,yes,big problem,No
1,AO7,1,1086089,2016,40,no education,rural,male,no,never,poorest,2.0,yes,no,does not intend to use,no,no,yes,not a big problem,No
2,AO7,1,1086089,2016,16,no education,rural,male,no,never,poorest,1.0,yes,no,does not intend to use,yes,no,yes,big problem,No
3,AO7,1,1086089,2016,43,primary,rural,male,no,never,poorest,1.0,no or unsure,yes,does not intend to use,no,no,yes,big problem,No
4,AO7,1,1086089,2016,25,no education,rural,male,no,never,poorest,3.0,no or unsure,no,does not intend to use,no,no,yes,not a big problem,No

In [294]:
df. columns

Index(['Country', 'v001', 'v005', 'v007', 'Maternal_age',
       'highest_educational_level', 'Residence', 'sex_of_hh',
       'owns_mobile_telephone', 'use_of_internet', 'Wealth_index',
       'gave_birth_in_the_5yrs', 'currently_pregnant', 'History_abortion',
       'contraceptive_use_and_intention', 'visited_HF_last_12months',
       'covered_by_health_insurance', 'Working_status', 'Problem_Access',
       'Media exposure'],
      dtype='object')

In [295]:
# Define the age bins and labels
age_bins = [15, 25, 35, 50]  # Upper limit is exclusive, so use 50 for 35-49
age_labels = ['15-24', '25-34', '35-49']

# Create a new column with the categorized age groups
df['Maternal_age'] = pd.cut(df['Maternal_age'], bins=age_bins, labels=age_labels, right=False) # right=False makes the intervals [a, b)

# Display the value counts of the new column to verify
display(df['Maternal_age'].value_counts())

Maternal_age
15-24    187030
25-34    139002
35-49    136095
Name: count, dtype: int64

In [296]:
# Recategorize 'highest_educational_level' in place
educational_level_mapping = {
    'no education': 'No education',
    'primary': 'Primary Education',
    'secondary': 'Secondry education and Above',
    'higher': 'Secondry education and Above',
    '9': 'Unknown' # Assuming '9' is an unknown or missing category
}

df['highest_educational_level'] = df['highest_educational_level'].map(educational_level_mapping)

# Display the value counts of the updated column to verify
display(df['highest_educational_level'].value_counts())

highest_educational_level
Secondry education and Above    188633
Primary Education               142829
No education                    136503
Name: count, dtype: int64

In [297]:
# Recategorize 'not a dejure resident' as 'rural' in the 'Residence' column
df['Residence'] = df['Residence'].replace('not a dejure resident', 'rural')

# Create a frequency table for 'Residence'
residence_counts = df['Residence'].value_counts()

# Display the frequency table
display(residence_counts)

/tmp/ipython-input-1740881504.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Residence'] = df['Residence'].replace('not a dejure resident', 'rural')

Residence
rural    286767
urban    181198
Name: count, dtype: int64

In [298]:
# Create a frequency table for 'sex_of_hh'
sex_of_hh_counts = df['sex_of_hh'].value_counts()

# Display the frequency table
display(sex_of_hh_counts)

sex_of_hh
male      333103
female    134862
Name: count, dtype: int64

In [299]:
# Create a frequency table for 'owns_mobile_telephone'
owns_mobile_telephone_counts = df['owns_mobile_telephone'].value_counts()
display(owns_mobile_telephone_counts)

owns_mobile_telephone
yes    262330
no     205635
Name: count, dtype: int64

In [300]:
# Recategorize 'use_of_internet'
internet_use_mapping = {
    'never': 'No',
    'yes, before last 12 months': 'No',
    'yes, last 12 months': 'Yes'
}

df['use_of_internet'] = df['use_of_internet'].map(internet_use_mapping)

# Create a frequency table for the updated 'use_of_internet' column
use_of_internet_counts = df['use_of_internet'].value_counts()
display(use_of_internet_counts)

use_of_internet
No     361423
Yes    106542
Name: count, dtype: int64

In [301]:
# Create a frequency table for 'Wealth_index'
Wealth_index_counts = df['Wealth_index'].value_counts()
display(Wealth_index_counts)

Wealth_index
richest    97740
poorest    95050
middle     93756
richer     92540
poorer     88879
Name: count, dtype: int64

In [302]:
# Create a frequency table for 'currently_pregnant'
currently_pregnant_counts = df['currently_pregnant'].value_counts()
display(currently_pregnant_counts)

currently_pregnant
no or unsure    425733
yes              36394
Name: count, dtype: int64

In [303]:
# Create a frequency table for 'History_abortion'
History_abortion_counts = df['History_abortion'].replace('9.0', 'no').value_counts()
display(History_abortion_counts)

History_abortion
no     399851
yes     62276
9.0         0
Name: count, dtype: int64

In [304]:
# Recategorize 'contraceptive_use_and_intention'
contraceptive_use_mapping = {
    'non-user - intends to use later': 'No',
    'does not intend to use': 'No',
    'never had sex': 'No',
    'using modern method': 'Yes',
    'using traditional method': 'Yes'
}

df['contraceptive_use_and_intention'] = df['contraceptive_use_and_intention'].map(contraceptive_use_mapping)

# Create a frequency table for the updated 'contraceptive_use_and_intention' column
contraceptive_use_and_intention_counts = df['contraceptive_use_and_intention'].value_counts()
display(contraceptive_use_and_intention_counts)

contraceptive_use_and_intention
No     343236
Yes    118891
Name: count, dtype: int64

In [305]:
# Create a frequency table for 'visited_HF_last_12months'
visited_HF_last_12months_counts = df['visited_HF_last_12months'].value_counts()
display(visited_HF_last_12months_counts)

visited_HF_last_12months
yes    228169
no     212749
9.0         0
Name: count, dtype: int64

In [306]:
# Create a frequency table for 'covered_by_health_insurance'
covered_by_health_insurance_counts = df['covered_by_health_insurance'].value_counts()
display(covered_by_health_insurance_counts)

covered_by_health_insurance
no     374990
yes     49064
9.0         0
Name: count, dtype: int64

In [307]:
# Create a frequency table for 'Working_status'
Working_status_counts = df['Working_status'].value_counts()
display(Working_status_counts)

Working_status
yes    259756
no     203521
9.0         0
Name: count, dtype: int64

In [308]:
# Create a frequency table for 'Media exposure'
Media_exposure_counts = df['Media exposure'].value_counts()
display(Media_exposure_counts)

Media exposure
No     237080
Yes    230885
Name: count, dtype: int64

In [309]:
df.head()

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,owns_mobile_telephone,use_of_internet,Wealth_index,gave_birth_in_the_5yrs,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure
0,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,poorest,1.0,no or unsure,yes,No,no,no,yes,big problem,No
1,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,poorest,2.0,yes,no,No,no,no,yes,not a big problem,No
2,AO7,1,1086089,2016,15-24,No education,rural,male,no,No,poorest,1.0,yes,no,No,yes,no,yes,big problem,No
3,AO7,1,1086089,2016,35-49,Primary Education,rural,male,no,No,poorest,1.0,no or unsure,yes,No,no,no,yes,big problem,No
4,AO7,1,1086089,2016,25-34,No education,rural,male,no,No,poorest,3.0,no or unsure,no,No,no,no,yes,not a big problem,No

In [310]:
# Create a frequency table for 'gave_birth_in_the_5yrs'
gave_birth_in_the_5yrs_counts = df['gave_birth_in_the_5yrs'].value_counts()

# Display the frequency table
display(gave_birth_in_the_5yrs_counts)

gave_birth_in_the_5yrs
no births    230836
1.0          144326
2.0           75150
3.0           11056
4.0             694
5.0              62
6.0               3
7.0               0
Name: count, dtype: int64

In [311]:
# Recategorize 'gave_birth_in_the_5yrs' by creating a new variable
df['gave_birth_in_the_5yrs_categorized'] = df['gave_birth_in_the_5yrs'].apply(
    lambda x: 'No' if x == 'no births' else 'Yes'
)

# Display the value counts of the new column to verify
display(df['gave_birth_in_the_5yrs_categorized'].value_counts())

gave_birth_in_the_5yrs_categorized
Yes    231291
No     230836
Name: count, dtype: int64

In [312]:
df.head()

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,owns_mobile_telephone,use_of_internet,...,gave_birth_in_the_5yrs,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs_categorized
0,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,...,1.0,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,...,2.0,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,1,1086089,2016,15-24,No education,rural,male,no,No,...,1.0,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,1,1086089,2016,35-49,Primary Education,rural,male,no,No,...,1.0,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,1,1086089,2016,25-34,No education,rural,male,no,No,...,3.0,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [313]:
# Drop the original 'gave_birth_in_the_5yrs' column
df = df.drop(columns=['gave_birth_in_the_5yrs'])

# Rename the new column
df = df.rename(columns={'gave_birth_in_the_5yrs_categorized': 'gave_birth_in_the_5yrs'})

# Display the head of the DataFrame to confirm the changes
display(df.head())

,Country,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,owns_mobile_telephone,use_of_internet,Wealth_index,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs
0,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,1,1086089,2016,35-49,No education,rural,male,no,No,poorest,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,1,1086089,2016,15-24,No education,rural,male,no,No,poorest,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,1,1086089,2016,35-49,Primary Education,rural,male,no,No,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,1,1086089,2016,25-34,No education,rural,male,no,No,poorest,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [314]:
df.Country.unique()

array(['AO7', 'BF8', 'BJ7', 'BU7', 'CD8', 'CI8', 'CM7', 'ET7', 'GA7',
       'GH8', 'GM7', 'GN7', 'KE8', 'LB7', 'LS8', 'MD7', 'ML8', 'MR7',
       'MW7', 'MZ8', 'NG8', 'RW7', 'SL7', 'SN8', 'TZ8', 'UG7', 'ZA7',
       'ZM7'], dtype=object)

In [315]:
# Define the mapping from country codes to country names
country_mapping = {
    'AO7': 'Angola',
    'BF8': 'Burkina Faso',
    'BJ7': 'Benin',
    'BU7': 'Burundi',
    'CD8': 'Democratic Republic of the Congo',
    'CI8': 'CÃ´te dâ€™Ivoire',
    'CM7': 'Cameroon',
    'ET7': 'Ethiopia',
    'GA7': 'Gabon',
    'GH8': 'Ghana',
    'GM7': 'The Gambia',
    'GN7': 'Guinea',
    'KE8': 'Kenya',
    'LB7': 'Liberia',
    'LS8': 'Lesotho',
    'MD7': 'Madagascar',
    'ML8': 'Mali',
    'MR7': 'Mauritania',
    'MW7': 'Malawi',
    'MZ8': 'Mozambique',
    'NG8': 'Nigeria',
    'RW7': 'Rwanda',
    'SL7': 'Sierra Leone',
    'SN8': 'Senegal',
    'TZ8': 'Tanzania',
    'UG7': 'Uganda',
    'ZA7': 'South Africa',
    'ZM7': 'Zambia'
}

# Create the new 'Country_name' column by mapping the 'Country' column
df['Country_name'] = df['Country'].map(country_mapping)

# Get the list of current columns
cols = df.columns.tolist()

# Remove 'Country_name' from its current position
cols.remove('Country_name')

# Insert 'Country_name' at the second position (index 1)
cols.insert(1, 'Country_name')

# Reindex the DataFrame with the new column order
df = df[cols]

# Display the head of the DataFrame to verify the new column and order
display(df.head())

,Country,Country_name,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,owns_mobile_telephone,...,Wealth_index,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs
0,AO7,Angola,1,1086089,2016,35-49,No education,rural,male,no,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,Angola,1,1086089,2016,35-49,No education,rural,male,no,...,poorest,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,Angola,1,1086089,2016,15-24,No education,rural,male,no,...,poorest,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,Angola,1,1086089,2016,35-49,Primary Education,rural,male,no,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,Angola,1,1086089,2016,25-34,No education,rural,male,no,...,poorest,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [316]:
# Group by 'Country_name' and sort by year
grouped_by_country = df.groupby('Country_name')['v007'].agg(lambda x: sorted(list(x.unique())))

# Create a new list to store the combined data
combined_data = []

# Iterate through each country's years
for country, years in grouped_by_country.items():
    if not years:
        continue

    # Initialize the current range
    current_range_start = years[0]
    current_range_end = years[0]
    total_sample = df[(df['Country_name'] == country) & (df['v007'] == years[0])].shape[0]

    for i in range(1, len(years)):
        if years[i] == current_range_end + 1:
            # Extend the current range
            current_range_end = years[i]
            total_sample += df[(df['Country_name'] == country) & (df['v007'] == years[i])].shape[0]
        else:
            # Add the completed range to the combined data
            if current_range_start == current_range_end:
                year_representation = str(current_range_start)
            else:
                year_representation = f"{current_range_start}/{str(current_range_end)[-2:]}"
            combined_data.append({'Country_name': country, 'Year': year_representation, 'Total Sample': total_sample})

            # Start a new range
            current_range_start = years[i]
            current_range_end = years[i]
            total_sample = df[(df['Country_name'] == country) & (df['v007'] == years[i])].shape[0]

    # Add the last range
    if current_range_start == current_range_end:
        year_representation = str(current_range_start)
    else:
        year_representation = f"{current_range_start}/{str(current_range_end)[-2:]}"
    combined_data.append({'Country_name': country, 'Year': year_representation, 'Total Sample': total_sample})

# Create a new DataFrame from the combined data
sample_size_table_combined = pd.DataFrame(combined_data)

# Display the combined table
display(sample_size_table_combined)

                        Country_name     Year  Total Sample
0                             Angola  2015/16         14379
1                              Benin  2017/18         15928
2                       Burkina Faso     2021         17659
3                            Burundi  2016/17         17269
4                           Cameroon  2018/19         14677
5                      CÃ´te dâ€™Ivoire     2021         14877
6   Democratic Republic of the Congo  2023/24         27583
7                           Ethiopia     2008         15683
8                              Gabon  2019/21         11043
9                              Ghana  2022/23         15014
10                            Guinea     2018         10874
11                             Kenya     2022         32156
12                           Lesotho  2023/24          6413
13                           Liberia  2019/20          8065
14                        Madagascar     2021         18869
15                            Malawi  2015/16         24562
16                              Mali  2023/24         20354
17                        Mauritania  2019/21         15714
18                        Mozambique  2022/23         13183
19                           Nigeria  2023/24         39050
20                            Rwanda  2019/20         14634
21                           Senegal     2023         16583
22                      Sierra Leone     2019         15574
23                      South Africa     2016          8514
24                          Tanzania     2022         15254
25                        The Gambia  2019/20         11865
26                            Uganda     2016         18506
27                            Zambia  2018/19         13683

In [317]:
# Save the combined sample size table to a CSV file
sample_size_table_combined.to_csv('combined_sample_size_table.csv', index=False)

print("Combined sample size table saved as 'combined_sample_size_table.csv'")

Combined sample size table saved as 'combined_sample_size_table.csv'

In [318]:
df.Country_name.unique()

array(['Angola', 'Burkina Faso', 'Benin', 'Burundi',
       'Democratic Republic of the Congo', 'CÃ´te dâ€™Ivoire', 'Cameroon',
       'Ethiopia', 'Gabon', 'Ghana', 'The Gambia', 'Guinea', 'Kenya',
       'Liberia', 'Lesotho', 'Madagascar', 'Mali', 'Mauritania', 'Malawi',
       'Mozambique', 'Nigeria', 'Rwanda', 'Sierra Leone', 'Senegal',
       'Tanzania', 'Uganda', 'South Africa', 'Zambia'], dtype=object)

In [319]:
# Define the mapping from country name to region
region_mapping = {
    'Burkina Faso': 'West Africa',
    'Benin': 'West Africa',
    'CÃ´te dâ€™Ivoire': 'West Africa',
    'Ghana': 'West Africa',
    'The Gambia': 'West Africa',
    'Guinea': 'West Africa',
    'Liberia': 'West Africa',
    'Mali': 'West Africa',
    'Mauritania': 'West Africa',
    'Nigeria': 'West Africa',
    'Sierra Leone': 'West Africa',
    'Senegal': 'West Africa',
    'Ethiopia': 'East Africa',
    'Kenya': 'East Africa',
    'Madagascar': 'East Africa',
    'Malawi': 'East Africa',
    'Mozambique': 'East Africa',
    'Rwanda': 'East Africa',
    'Tanzania': 'East Africa',
    'Uganda': 'East Africa',
    'Cameroon': 'Central Africa',
    'Democratic Republic of the Congo': 'Central Africa',
    'Gabon': 'Central Africa',
    'Angola': 'Southern Africa',
    'Burundi': 'Southern Africa', # Based on user's note
    'Lesotho': 'Southern Africa',
    'South Africa': 'Southern Africa',
    'Zambia': 'Southern Africa'
}

# Create the new 'Region' column by mapping the 'Country_name' column
df['Region'] = df['Country_name'].map(region_mapping)

# Get the list of current columns
cols = df.columns.tolist()

# Remove 'Region' from its current position
cols.remove('Region')

# Insert 'Region' at the third position (index 2)
cols.insert(2, 'Region')

# Reindex the DataFrame with the new column order
df = df[cols]

# Display the head of the DataFrame to verify the new column and order
display(df.head())

,Country,Country_name,Region,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,...,Wealth_index,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs
0,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,Angola,Southern Africa,1,1086089,2016,15-24,No education,rural,male,...,poorest,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,Angola,Southern Africa,1,1086089,2016,35-49,Primary Education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,Angola,Southern Africa,1,1086089,2016,25-34,No education,rural,male,...,poorest,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [320]:
# Group by 'Region', 'Country_name' and sort by year
grouped_by_region_country = df.groupby(['Region', 'Country_name'])['v007'].agg(lambda x: sorted(list(x.unique())))

# Create a new list to store the combined data
combined_data_region = []

# Iterate through each region and country's years
for (region, country), years in grouped_by_region_country.items():
    if not years:
        continue

    # Initialize the current range
    current_range_start = years[0]
    current_range_end = years[0]
    total_sample = df[(df['Region'] == region) & (df['Country_name'] == country) & (df['v007'] == years[0])].shape[0]

    for i in range(1, len(years)):
        if years[i] == current_range_end + 1:
            # Extend the current range
            current_range_end = years[i]
            total_sample += df[(df['Region'] == region) & (df['Country_name'] == country) & (df['v007'] == years[i])].shape[0]
        else:
            # Add the completed range to the combined data
            if current_range_start == current_range_end:
                year_representation = str(current_range_start)
            else:
                year_representation = f"{current_range_start}/{str(current_range_end)[-2:]}"
            combined_data_region.append({'Region': region, 'Country_name': country, 'Year': year_representation, 'Total Sample': total_sample})

            # Start a new range
            current_range_start = years[i]
            current_range_end = years[i]
            total_sample = df[(df['Region'] == region) & (df['Country_name'] == country) & (df['v007'] == years[i])].shape[0]

    # Add the last range
    if current_range_start == current_range_end:
        year_representation = str(current_range_start)
    else:
        year_representation = f"{current_range_start}/{str(current_range_end)[-2:]}"
    combined_data_region.append({'Region': region, 'Country_name': country, 'Year': year_representation, 'Total Sample': total_sample})

# Create a new DataFrame from the combined data
sample_size_table_combined_region = pd.DataFrame(combined_data_region)

# Calculate subtotals by region
regional_subtotals = sample_size_table_combined_region.groupby('Region')['Total Sample'].sum().reset_index()
regional_subtotals['Country_name'] = 'Subtotal'
regional_subtotals['Year'] = '' # Add an empty column for Year in subtotals

# Combine the data and subtotals in the desired order
ordered_data = []
for region in sample_size_table_combined_region['Region'].unique():
    # Add country data for the current region
    ordered_data.append(sample_size_table_combined_region[sample_size_table_combined_region['Region'] == region])
    # Add subtotal for the current region
    ordered_data.append(regional_subtotals[regional_subtotals['Region'] == region])

# Concatenate the ordered dataframes
sample_size_table_with_subtotals_ordered = pd.concat(ordered_data, ignore_index=True)


# Display the combined table with subtotals
display(sample_size_table_with_subtotals_ordered)

# Save the combined sample size table with subtotals to a CSV file
sample_size_table_with_subtotals_ordered.to_csv('combined_sample_size_table_with_subtotals.csv', index=False)

print("Combined sample size table with subtotals saved as 'combined_sample_size_table_with_subtotals.csv'")

             Region                      Country_name     Year  Total Sample
0    Central Africa                          Cameroon  2018/19         14677
1    Central Africa  Democratic Republic of the Congo  2023/24         27583
2    Central Africa                             Gabon  2019/21         11043
3    Central Africa                          Subtotal                  53303
4       East Africa                          Ethiopia     2008         15683
5       East Africa                             Kenya     2022         32156
6       East Africa                        Madagascar     2021         18869
7       East Africa                            Malawi  2015/16         24562
8       East Africa                        Mozambique  2022/23         13183
9       East Africa                            Rwanda  2019/20         14634
10      East Africa                          Tanzania     2022         15254
11      East Africa                            Uganda     2016         18506
12      East Africa                          Subtotal                 152847
13  Southern Africa                            Angola  2015/16         14379
14  Southern Africa                           Burundi  2016/17         17269
15  Southern Africa                           Lesotho  2023/24          6413
16  Southern Africa                      South Africa     2016          8514
17  Southern Africa                            Zambia  2018/19         13683
18  Southern Africa                          Subtotal                  60258
19      West Africa                             Benin  2017/18         15928
20      West Africa                      Burkina Faso     2021         17659
21      West Africa                     CÃ´te dâ€™Ivoire     2021         14877
22      West Africa                             Ghana  2022/23         15014
23      West Africa                            Guinea     2018         10874
24      West Africa                           Liberia  2019/20          8065
25      West Africa                              Mali  2023/24         20354
26      West Africa                        Mauritania  2019/21         15714
27      West Africa                           Nigeria  2023/24         39050
28      West Africa                           Senegal     2023         16583
29      West Africa                      Sierra Leone     2019         15574
30      West Africa                        The Gambia  2019/20         11865
31      West Africa                          Subtotal                 201557

Combined sample size table with subtotals saved as 'combined_sample_size_table_with_subtotals.csv'

In [321]:
df.head()

,Country,Country_name,Region,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,...,Wealth_index,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs
0,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,Angola,Southern Africa,1,1086089,2016,15-24,No education,rural,male,...,poorest,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,Angola,Southern Africa,1,1086089,2016,35-49,Primary Education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,Angola,Southern Africa,1,1086089,2016,25-34,No education,rural,male,...,poorest,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [322]:
df.columns

Index(['Country', 'Country_name', 'Region', 'v001', 'v005', 'v007',
       'Maternal_age', 'highest_educational_level', 'Residence', 'sex_of_hh',
       'owns_mobile_telephone', 'use_of_internet', 'Wealth_index',
       'currently_pregnant', 'History_abortion',
       'contraceptive_use_and_intention', 'visited_HF_last_12months',
       'covered_by_health_insurance', 'Working_status', 'Problem_Access',
       'Media exposure', 'gave_birth_in_the_5yrs'],
      dtype='object')

In [323]:
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display the number of missing values for each column
display(missing_values)

Country                                0
Country_name                           0
Region                                 0
v001                                   0
v005                                   0
v007                                   0
Maternal_age                        5838
highest_educational_level              0
Residence                              0
sex_of_hh                              0
owns_mobile_telephone                  0
use_of_internet                        0
Wealth_index                           0
currently_pregnant                  5838
History_abortion                    5838
contraceptive_use_and_intention     5838
visited_HF_last_12months           27047
covered_by_health_insurance        43911
Working_status                      4688
Problem_Access                         0
Media exposure                         0
gave_birth_in_the_5yrs              5838
dtype: int64

In [324]:
# Columns to impute with mode
cols_to_impute_mode = [
    'Maternal_age',
    'currently_pregnant',
    'History_abortion',
    'contraceptive_use_and_intention',
    'visited_HF_last_12months',
    'covered_by_health_insurance',
    'Working_status',
    'gave_birth_in_the_5yrs'
]

# Impute missing values with the mode for each specified column
for col in cols_to_impute_mode:
    if df[col].isnull().any():
        mode_value = df[col].mode()[0]  # Get the first mode in case of ties
        df[col] = df[col].fillna(mode_value)

# Check for missing values again to confirm imputation
display(df.isnull().sum())

Country                            0
Country_name                       0
Region                             0
v001                               0
v005                               0
v007                               0
Maternal_age                       0
highest_educational_level          0
Residence                          0
sex_of_hh                          0
owns_mobile_telephone              0
use_of_internet                    0
Wealth_index                       0
currently_pregnant                 0
History_abortion                   0
contraceptive_use_and_intention    0
visited_HF_last_12months           0
covered_by_health_insurance        0
Working_status                     0
Problem_Access                     0
Media exposure                     0
gave_birth_in_the_5yrs             0
dtype: int64

In [325]:
df.head()

,Country,Country_name,Region,v001,v005,v007,Maternal_age,highest_educational_level,Residence,sex_of_hh,...,Wealth_index,currently_pregnant,History_abortion,contraceptive_use_and_intention,visited_HF_last_12months,covered_by_health_insurance,Working_status,Problem_Access,Media exposure,gave_birth_in_the_5yrs
0,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
1,AO7,Angola,Southern Africa,1,1086089,2016,35-49,No education,rural,male,...,poorest,yes,no,No,no,no,yes,not a big problem,No,Yes
2,AO7,Angola,Southern Africa,1,1086089,2016,15-24,No education,rural,male,...,poorest,yes,no,No,yes,no,yes,big problem,No,Yes
3,AO7,Angola,Southern Africa,1,1086089,2016,35-49,Primary Education,rural,male,...,poorest,no or unsure,yes,No,no,no,yes,big problem,No,Yes
4,AO7,Angola,Southern Africa,1,1086089,2016,25-34,No education,rural,male,...,poorest,no or unsure,no,No,no,no,yes,not a big problem,No,Yes

In [326]:
df.columns

Index(['Country', 'Country_name', 'Region', 'v001', 'v005', 'v007',
       'Maternal_age', 'highest_educational_level', 'Residence', 'sex_of_hh',
       'owns_mobile_telephone', 'use_of_internet', 'Wealth_index',
       'currently_pregnant', 'History_abortion',
       'contraceptive_use_and_intention', 'visited_HF_last_12months',
       'covered_by_health_insurance', 'Working_status', 'Problem_Access',
       'Media exposure', 'gave_birth_in_the_5yrs'],
      dtype='object')

In [327]:
variables_to_tabulate = [
    'Region',
    'Maternal_age',
    'highest_educational_level',
    'Residence',
    'sex_of_hh',
    'owns_mobile_telephone',
    'use_of_internet',
    'Wealth_index',
    'currently_pregnant',
    'History_abortion',
    'contraceptive_use_and_intention',
    'visited_HF_last_12months',
    'covered_by_health_insurance',
    'Working_status',
    'Media exposure',
    'gave_birth_in_the_5yrs'
]

# Create an empty list to store the formatted cross-tabulations
formatted_tables = []

for var in variables_to_tabulate:
    # Create the cross-tabulation
    cross_tab = pd.crosstab(df[var], df['Problem_Access'])

    # Calculate row-wise proportions
    cross_tab_prop = cross_tab.div(cross_tab.sum(axis=1), axis=0) * 100

    # Rename the index to the variable name
    cross_tab.index.name = var
    cross_tab_prop.index.name = var

    # Add a column to identify the variable
    cross_tab['Variable'] = var
    cross_tab_prop['Variable'] = var


    # Reset the index to make the variable categories a column
    cross_tab = cross_tab.reset_index()
    cross_tab_prop = cross_tab_prop.reset_index()


    # Rename the column containing the variable categories
    cross_tab = cross_tab.rename(columns={var: 'Category'})
    cross_tab_prop = cross_tab_prop.rename(columns={var: 'Category'})

    # Format the table to include proportions in brackets
    formatted_cross_tab = cross_tab.copy()
    formatted_cross_tab['big problem'] = formatted_cross_tab['big problem'].astype(str) + ' (' + cross_tab_prop['big problem'].round(2).astype(str) + '%)'
    formatted_cross_tab['not a big problem'] = formatted_cross_tab['not a big problem'].astype(str) + ' (' + cross_tab_prop['not a big problem'].round(2).astype(str) + '%)'


    # Select and reorder columns
    formatted_cross_tab = formatted_cross_tab[['Variable', 'Category', 'big problem', 'not a big problem']]

    # Append to the list
    formatted_tables.append(formatted_cross_tab)

# Concatenate all formatted tables into a single DataFrame
combined_cross_tab = pd.concat(formatted_tables, ignore_index=True)

# Display the combined table
display(combined_cross_tab)

# Save the combined cross-tabulation table to a CSV file
combined_cross_tab.to_csv('combined_cross_tabulation.csv', index=False)

print("\nCombined cross-tabulation table saved as 'combined_cross_tabulation.csv'")

Problem_Access,Variable,Category,big problem,not a big problem
0,Region,Central Africa,37048 (69.5%),16255 (30.5%)
1,Region,East Africa,80965 (52.97%),71882 (47.03%)
2,Region,Southern Africa,31718 (52.64%),28540 (47.36%)
3,Region,West Africa,123715 (61.38%),77842 (38.62%)
4,Maternal_age,15-24,111058 (57.58%),81810 (42.42%)
5,Maternal_age,25-34,80600 (57.98%),58402 (42.02%)
6,Maternal_age,35-49,81788 (60.1%),54307 (39.9%)
7,highest_educational_level,No education,94096 (68.93%),42407 (31.07%)
8,highest_educational_level,Primary Education,88509 (61.97%),54320 (38.03%)
9,highest_educational_level,Secondry education and Above,90841 (48.16%),97792 (51.84%)
10,Residence,urban,87137 (48.09%),94061 (51.91%)
11,Residence,rural,186309 (64.97%),100458 (35.03%)
12,sex_of_hh,male,196835 (59.09%),136268 (40.91%)
13,sex_of_hh,female,76611 (56.81%),58251 (43.19%)
14,owns_mobile_telephone,no,139564 (67.87%),66071 (32.13%)
15,owns_mobile_telephone,yes,133882 (51.04%),128448 (48.96%)
16,use_of_internet,No,228798 (63.3%),132625 (36.7%)
17,use_of_internet,Yes,44648 (41.91%),61894 (58.09%)
18,Wealth_index,poorest,69121 (72.72%),25929 (27.28%)
19,Wealth_index,poorer,59359 (66.79%),29520 (33.21%)
20,Wealth_index,middle,57004 (60.8%),36752 (39.2%)
21,Wealth_index,richer,49179 (53.14%),43361 (46.86%)
22,Wealth_index,richest,38783 (39.68%),58957 (60.32%)
23,currently_pregnant,no or unsure,250909 (58.14%),180662 (41.86%)
24,currently_pregnant,yes,22537 (61.93%),13857 (38.07%)
25,History_abortion,no,235692 (58.1%),169997 (41.9%)
26,History_abortion,yes,37754 (60.62%),24522 (39.38%)
27,contraceptive_use_and_intention,No,210327 (60.25%),138747 (39.75%)
28,contraceptive_use_and_intention,Yes,63119 (53.09%),55772 (46.91%)
29,visited_HF_last_12months,no,132021 (62.05%),80728 (37.95%)
30,visited_HF_last_12months,yes,141425 (55.41%),113791 (44.59%)
31,covered_by_health_insurance,no,247505 (59.08%),171396 (40.92%)
32,covered_by_health_insurance,yes,25941 (52.87%),23123 (47.13%)
33,Working_status,no,116732 (57.36%),86789 (42.64%)
34,Working_status,yes,156714 (59.26%),107730 (40.74%)
35,Media exposure,No,158406 (66.82%),78674 (33.18%)
36,Media exposure,Yes,115040 (49.83%),115845 (50.17%)
37,gave_birth_in_the_5yrs,No,129835 (56.25%),101001 (43.75%)
38,gave_birth_in_the_5yrs,Yes,143611 (60.56%),93518 (39.44%)

Combined cross-tabulation table saved as 'combined_cross_tabulation.csv'

In [328]:
for col in df.columns:
    print(f"Categories for '{col}':")
    display(df[col].unique())
    print("\n") # Add a newline for better readability

Categories for 'Country':

array(['AO7', 'BF8', 'BJ7', 'BU7', 'CD8', 'CI8', 'CM7', 'ET7', 'GA7',
       'GH8', 'GM7', 'GN7', 'KE8', 'LB7', 'LS8', 'MD7', 'ML8', 'MR7',
       'MW7', 'MZ8', 'NG8', 'RW7', 'SL7', 'SN8', 'TZ8', 'UG7', 'ZA7',
       'ZM7'], dtype=object)

Categories for 'Country_name':

array(['Angola', 'Burkina Faso', 'Benin', 'Burundi',
       'Democratic Republic of the Congo', 'CÃ´te dâ€™Ivoire', 'Cameroon',
       'Ethiopia', 'Gabon', 'Ghana', 'The Gambia', 'Guinea', 'Kenya',
       'Liberia', 'Lesotho', 'Madagascar', 'Mali', 'Mauritania', 'Malawi',
       'Mozambique', 'Nigeria', 'Rwanda', 'Sierra Leone', 'Senegal',
       'Tanzania', 'Uganda', 'South Africa', 'Zambia'], dtype=object)

Categories for 'Region':

array(['Southern Africa', 'West Africa', 'Central Africa', 'East Africa'],
      dtype=object)

Categories for 'v001':

array([   1,    2,    3, ..., 1690, 1691, 1692], dtype=int16)

Categories for 'v005':

array([1086089,  213740, 3178604, ...,  742571,  594157,  691259],
      dtype=int32)

Categories for 'v007':

array([2016, 2015, 2021, 2018, 2017, 2023, 2024, 2019, 2008, 2020, 2022],
      dtype=int16)

Categories for 'Maternal_age':

['35-49', '15-24', '25-34']
Categories (3, object): ['15-24' < '25-34' < '35-49']

Categories for 'highest_educational_level':

array(['No education', 'Primary Education',
       'Secondry education and Above'], dtype=object)

Categories for 'Residence':

['rural', 'urban']
Categories (2, object): ['urban' < 'rural']

Categories for 'sex_of_hh':

['male', 'female']
Categories (2, object): ['male' < 'female']

Categories for 'owns_mobile_telephone':

['no', 'yes']
Categories (2, object): ['no' < 'yes']

Categories for 'use_of_internet':

array(['No', 'Yes'], dtype=object)

Categories for 'Wealth_index':

['poorest', 'poorer', 'richest', 'middle', 'richer']
Categories (5, object): ['poorest' < 'poorer' < 'middle' < 'richer' < 'richest']

Categories for 'currently_pregnant':

['no or unsure', 'yes']
Categories (2, object): ['no or unsure' < 'yes']

Categories for 'History_abortion':

['yes', 'no']
Categories (3, object): ['no' < 'yes' < 9.0]

Categories for 'contraceptive_use_and_intention':

array(['No', 'Yes'], dtype=object)

Categories for 'visited_HF_last_12months':

['no', 'yes']
Categories (3, object): ['no' < 'yes' < 9.0]

Categories for 'covered_by_health_insurance':

['no', 'yes']
Categories (3, object): ['no' < 'yes' < 9.0]

Categories for 'Working_status':

['yes', 'no']
Categories (3, object): ['no' < 'yes' < 9.0]

Categories for 'Problem_Access':

array(['big problem', 'not a big problem'], dtype=object)

Categories for 'Media exposure':

array(['No', 'Yes'], dtype=object)

Categories for 'gave_birth_in_the_5yrs':

array(['Yes', 'No'], dtype=object)

In [330]:
# Define ordinal mappings
maternal_age_mapping = {'15-24': 0, '25-34': 1, '35-49': 2}
educational_level_mapping_ordinal = {'No education': 0, 'Primary Education': 1, 'Secondry education and Above': 2, 'Unknown': -1} # Assuming Unknown is treated as missing or a separate category
wealth_index_mapping = {'poorest': 0, 'poorer': 1, 'middle': 2, 'richer': 3, 'richest': 4}

# Apply ordinal encoding in place
df['Maternal_age'] = df['Maternal_age'].map(maternal_age_mapping)
df['highest_educational_level'] = df['highest_educational_level'].map(educational_level_mapping_ordinal)
df['Wealth_index'] = df['Wealth_index'].map(wealth_index_mapping)


# Define binary mappings
problem_access_mapping = {'not a big problem': 0, 'big problem': 1}
residence_mapping = {'rural': 0, 'urban': 1}
sex_of_hh_mapping = {'female': 0, 'male': 1}
owns_mobile_telephone_mapping = {'no': 0, 'yes': 1}
binary_mapping = {'No': 0, 'Yes': 1} # For 'use_of_internet', 'Media exposure', 'gave_birth_in_the_5yrs', 'contraceptive_use_and_intention'
history_abortion_mapping = {'no': 0, 'yes': 1, 9.0: -1} # Assuming 9.0 is unknown/missing
visited_HF_mapping = {'no': 0, 'yes': 1, 9.0: -1} # Assuming 9.0 is unknown/missing
covered_health_insurance_mapping = {'no': 0, 'yes': 1, 9.0: -1} # Assuming 9.0 is unknown/missing
working_status_mapping = {'no': 0, 'yes': 1, 9.0: -1} # Assuming 9.0 is unknown/missing


# Apply binary encoding in place
df['Problem_Access'] = df['Problem_Access'].map(problem_access_mapping)
df['Residence'] = df['Residence'].map(residence_mapping)
df['sex_of_hh'] = df['sex_of_hh'].map(sex_of_hh_mapping)
df['owns_mobile_telephone'] = df['owns_mobile_telephone'].map(owns_mobile_telephone_mapping)
df['use_of_internet'] = df['use_of_internet'].map(binary_mapping)
df['currently_pregnant'] = df['currently_pregnant'].map(binary_mapping) # Assuming currently_pregnant also maps No/Yes
df['History_abortion'] = df['History_abortion'].map(history_abortion_mapping)
df['contraceptive_use_and_intention'] = df['contraceptive_use_and_intention'].map(binary_mapping) # Assuming contraceptive_use_and_intention maps No/Yes
df['visited_HF_last_12months'] = df['visited_HF_last_12months'].map(visited_HF_mapping)
df['covered_by_health_insurance'] = df['covered_by_health_insurance'].map(covered_health_insurance_mapping)
df['Working_status'] = df['Working_status'].map(working_status_mapping)
df['Media exposure'] = df['Media exposure'].map(binary_mapping) # Assuming Media exposure maps No/Yes
df['gave_birth_in_the_5yrs'] = df['gave_birth_in_the_5yrs'].map(binary_mapping) # Assuming gave_birth_in_the_5yrs maps No/Yes


# Columns to keep as they are (including Region and the original identifier columns)
cols_to_keep = ['Country', 'Country_name', 'Region', 'v001', 'v005', 'v007']

# Identify multi-category nominal columns remaining (should be none after binary mapping, but for robustness)
multi_category_nominal_cols = [col for col in df.columns if (df[col].dtype == 'object' or pd.api.types.is_categorical_dtype(df[col])) and col not in cols_to_keep and col not in ordinal_cols and col not in nominal_cols] # Re-evaluate based on current df state

# Perform one-hot encoding for any remaining multi-category nominal variables
df_encoded_multi_nominal = pd.get_dummies(df[multi_category_nominal_cols], columns=multi_category_nominal_cols, drop_first=True)


# Select all columns to include in the final encoded DataFrame
encoded_cols = [col for col in df.columns if col not in multi_category_nominal_cols]


# Combine all encoded and original columns, handling potentially empty df_encoded_multi_nominal
if not df_encoded_multi_nominal.empty:
    df_encoded = pd.concat([df[encoded_cols], df_encoded_multi_nominal], axis=1)
else:
    df_encoded = df[encoded_cols].copy()


# Display the head of the encoded DataFrame
display(df_encoded.head())

/tmp/ipython-input-623484372.py:44: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  multi_category_nominal_cols = [col for col in df.columns if (df[col].dtype == 'object' or pd.api.types.is_categorical_dtype(df[col])) and col not in cols_to_keep and col not in ordinal_cols and col not in nominal_cols] # Re-evaluate based on current df state

ValueError: No objects to concatenate

In [ ]:
display(df_encoded.head())

In [ ]:
display(df_encoded.columns)