<a href="https://colab.research.google.com/github/Fentahun60/Fentahun/blob/main/ZambiaCC_BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [370]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Path to your .dta file
file_path = '/content/drive/MyDrive/zambia_CC_BC.dta'

# Read the .dta file into a pandas DataFrame
try:
    df = pd.read_stata(file_path)
    print("File imported successfully! First 5 rows:")
    print(df.head())
except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found. Please ensure the path is correct and Google Drive is mounted.")
except Exception as e:
    print(f"An error occurred while reading the file: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
File imported successfully! First 5 rows:
  v000  v001    v005  v007  v012   v025       v106    v151 v152  \
0  ZM8     1  748300  2024    42  urban    primary    male   44
1  ZM8     1  748300  2024    42  urban     higher  female   41
2  ZM8     1  748300  2024    24  urban    primary  female   24
3  ZM8     1  748300  2024    22  urban  secondary    male   26
4  ZM8     1  748300  2024    32  urban    primary  female   32

                   v157  ... v481 v484a v484b  \
0            not at all  ...   no    no    no
1  at least once a week  ...  yes   yes   yes
2  at least once a week  ...   no    no    no
3            not at all  ...   no    no    no
4  at least once a week  ...   no    no   yes

                                  v501 v525 v763a v763b v763c v781 v836
0                              married   22    no    no    no  yes  2.0
1                              married   17    no    no    no  yes  3.0
2  no longer living together/separated   16    no   yes   yes  yes  3.0
3                              married   15   yes    no    no  yes  5.0
4                       never in union   15    no    no    no  yes  3.0

[5 rows x 32 columns]

In [371]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'v012', 'v025', 'v106', 'v151', 'v152',
       'v157', 'v158', 'v159', 'v169a', 'v190', 'v312', 'v394', 'v463a',
       'v467b', 'v467c', 'v467d', 'v467e', 'v467k', 'v481', 'v484a', 'v484b',
       'v501', 'v525', 'v763a', 'v763b', 'v763c', 'v781', 'v836'],
      dtype='object')

In [372]:
# Assuming your dataframe is df

rename_dict = {
    "v012": "respondent_age",
    "v025": "residence_type",
    "v106": "highest_edu_level",
    "v151": "sex_of_household_head",
    "v152": "age_of_household_head",
    "v157": "freq_read_newspaper",
    "v158": "freq_listen_radio",
    "v159": "freq_watch_tv",
    "v169a": "owns_mobile_phone",
    "v190": "wealth_index",
    "v312": "current_contraceptive_method",
    "v394": "visited_health_facility_12mo",
    "v463a": "smokes_cigarettes",
    "v467b": "permission_to_medical_Vist",
    "v467c": "money_needed_for_medical_vist",
    "v467d": "distance_to_health_facility",
    "v467e": "transport_for_medical_visit",
    "v467k": "waiting_time_concern_at_HF",
    "v481": "covered_by_health_insurance",
    "v484a": "breast_exam_by_provider",
    "v484b": "cervical_cancer_tested",
    "v501": "marital_status",
    "v525": "age_at_first_sex",
    "v763a": "STI_last_12mo",
    "v763b": "genital_sore_last_12mo",
    "v763c": "genital_discharge_last_12mo",
    "v781": "ever_tested_hiv",
    "v836": "total_lifetime_sex_partners"
}

# Apply renaming
df = df.rename(columns=rename_dict)

df.head()

,v000,v001,v005,v007,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_read_newspaper,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,ZM8,1,748300,2024,42,urban,primary,male,44,not at all,...,no,no,no,married,22,no,no,no,yes,2.0
1,ZM8,1,748300,2024,42,urban,higher,female,41,at least once a week,...,yes,yes,yes,married,17,no,no,no,yes,3.0
2,ZM8,1,748300,2024,24,urban,primary,female,24,at least once a week,...,no,no,no,no longer living together/separated,16,no,yes,yes,yes,3.0
3,ZM8,1,748300,2024,22,urban,secondary,male,26,not at all,...,no,no,no,married,15,yes,no,no,yes,5.0
4,ZM8,1,748300,2024,32,urban,primary,female,32,at least once a week,...,no,no,yes,never in union,15,no,no,no,yes,3.0

In [373]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'respondent_age', 'residence_type',
       'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_read_newspaper', 'freq_listen_radio', 'freq_watch_tv',
       'owns_mobile_phone', 'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [374]:
df["freq_listen_radio"] = df["freq_listen_radio"].replace({
    "not at all": "No",
    "less than once a week": "No",
    "at least once a week": "Yes",
    "almost every day": "Yes"})

/tmp/ipython-input-2432297828.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["freq_listen_radio"] = df["freq_listen_radio"].replace({

In [375]:
df["freq_watch_tv"] = df["freq_watch_tv"].replace({
    "not at all": "No",
    "less than once a week": "No",
    "at least once a week": "Yes",
    "almost every day": "Yes"})

/tmp/ipython-input-3206452986.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["freq_watch_tv"] = df["freq_watch_tv"].replace({

In [376]:
df["current_contraceptive_method"] = df["current_contraceptive_method"].replace({

    # Hormonal
    "pill": "Hormonal",
    "injections": "Hormonal",
    "implants/norplant": "Hormonal",
    "emergency contraception": "Hormonal",
    "lactational amenorrhea (lam)": "Hormonal",

    # Non-hormonal
    "not using": "Non-Hormonal",
    "iud": "Non-Hormonal",
    "male condom": "Non-Hormonal",
    "female condom": "Non-Hormonal",
    "female sterilization": "Non-Hormonal",
    "periodic abstinence": "Non-Hormonal",
    "withdrawal": "Non-Hormonal",
    "other traditional": "Non-Hormonal",
    "other modern method": "Non-Hormonal",
    "standard days method (sdm)": "Non-Hormonal"
})

/tmp/ipython-input-214665719.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["current_contraceptive_method"] = df["current_contraceptive_method"].replace({

In [377]:
import pandas as pd
import numpy as np

# Example: your dataframe is df and the column is 'age_at_first_sex'

def recategorize_age(x):
    # Handle non-numeric values first
    if pd.isna(x):
        return np.nan
    if isinstance(x, str) and x.lower() == "not had sex":
        return "not had sex"

    # Convert to numeric if it's a string number
    try:
        x = float(x)
    except:
        return np.nan

    # Categorize
    if x < 15:
        return "<15"
    elif 15 <= x <= 17:
        return "15-17"
    elif 18 <= x <= 19:
        return "18-19"
    elif x >= 20:
        return ">20"
    else:
        return np.nan

# Apply to dataframe
df["age_at_first_sex"] = df["age_at_first_sex"].apply(recategorize_age)

# View result
df["age_at_first_sex"].value_counts(dropna=False)

age_at_first_sex
15-17          6497
<15            2392
18-19          2105
not had sex    1707
>20            1250
Name: count, dtype: int64

In [378]:
df["total_lifetime_sex_partners"] = df["total_lifetime_sex_partners"].apply(
    lambda x: "0-1" if pd.to_numeric(x, errors="coerce") <= 1 else ">=2"
)

In [379]:
missing_percentages = df.isnull().sum() / len(df) * 100
missing_percentages_df = pd.DataFrame({"Missing Percentage": missing_percentages})

print("Percentage of missing values for each variable:")
print(missing_percentages_df)

Percentage of missing values for each variable:
                               Missing Percentage
v000                                     0.000000
v001                                     0.000000
v005                                     0.000000
v007                                     0.000000
respondent_age                           0.000000
residence_type                           0.000000
highest_edu_level                        0.000000
sex_of_household_head                    0.000000
age_of_household_head                    0.000000
freq_read_newspaper                      0.000000
freq_listen_radio                        0.000000
freq_watch_tv                            0.000000
owns_mobile_phone                        0.000000
wealth_index                             0.000000
current_contraceptive_method             0.000000
visited_health_facility_12mo             0.000000
smokes_cigarettes                        0.000000
permission_to_medical_Vist               0.000000
money_needed_for_medical_vist            0.000000
distance_to_health_facility              0.000000
transport_for_medical_visit              0.000000
waiting_time_concern_at_HF               0.000000
covered_by_health_insurance              0.000000
breast_exam_by_provider                  0.000000
cervical_cancer_tested                   0.000000
marital_status                           0.000000
age_at_first_sex                         0.000000
STI_last_12mo                            0.000000
genital_sore_last_12mo                   0.000000
genital_discharge_last_12mo              0.000000
ever_tested_hiv                          0.000000
total_lifetime_sex_partners             12.235682

In [380]:
df.head()

,v000,v001,v005,v007,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_read_newspaper,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,ZM8,1,748300,2024,42,urban,primary,male,44,not at all,...,no,no,no,married,>20,no,no,no,yes,>=2
1,ZM8,1,748300,2024,42,urban,higher,female,41,at least once a week,...,yes,yes,yes,married,15-17,no,no,no,yes,>=2
2,ZM8,1,748300,2024,24,urban,primary,female,24,at least once a week,...,no,no,no,no longer living together/separated,15-17,no,yes,yes,yes,>=2
3,ZM8,1,748300,2024,22,urban,secondary,male,26,not at all,...,no,no,no,married,15-17,yes,no,no,yes,>=2
4,ZM8,1,748300,2024,32,urban,primary,female,32,at least once a week,...,no,no,yes,never in union,15-17,no,no,no,yes,>=2

In [381]:
df = df.drop('freq_read_newspaper', axis=1)

In [382]:
tabulation = df['total_lifetime_sex_partners'].value_counts(normalize=True, dropna=False) * 100
print("Tabulation of 'total_lifetime_sex_partners' (in %):")
print(tabulation.round(2).astype(str) + '%')

Tabulation of 'total_lifetime_sex_partners' (in %):
total_lifetime_sex_partners
>=2    57.06%
0-1    30.71%
NaN    12.24%
Name: proportion, dtype: object

In [383]:
bins = [15, 24, 34, 49]
labels = ['15-24', '25-34', '35-49']

# Include the rightmost edge for the last interval
df['respondent_age'] = pd.cut(df['respondent_age'], bins=bins, labels=labels, right=True, include_lowest=True)

print("Value counts for 'respondent_age':")
print(df['respondent_age'].value_counts(dropna=False))

Value counts for 'respondent_age':
respondent_age
15-24    5889
25-34    4114
35-49    3948
Name: count, dtype: int64

In [384]:
import numpy as np

bins = [0, 25, 55, 65, np.inf]
labels = ['<25', '25-54', '55-64', '>65']

# Convert 'age_of_household_head' to numeric, coercing errors to NaN
df['age_of_household_head'] = pd.to_numeric(df['age_of_household_head'], errors='coerce')

# Categorize 'age_of_household_head'
df['age_of_household_head'] = pd.cut(df['age_of_household_head'], bins=bins, labels=labels, right=False)

print("Value counts for 'age_of_household_head':")
print(df['age_of_household_head'].value_counts(dropna=False))

Value counts for 'age_of_household_head':
age_of_household_head
25-54    10976
55-64     1438
>65        826
<25        702
NaN          9
Name: count, dtype: int64

In [385]:
# The recategorization has already been applied in a previous step.
# Displaying the current tabulation to confirm the state.
tabulation = df['total_lifetime_sex_partners'].value_counts(normalize=True, dropna=False) * 100
print("Current tabulation of 'total_lifetime_sex_partners' (in %):")
print(tabulation.round(2).astype(str) + '%')

Current tabulation of 'total_lifetime_sex_partners' (in %):
total_lifetime_sex_partners
>=2    57.06%
0-1    30.71%
NaN    12.24%
Name: proportion, dtype: object

In [386]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'respondent_age', 'residence_type',
       'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_listen_radio', 'freq_watch_tv', 'owns_mobile_phone',
       'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [387]:
df.head()

,v000,v001,v005,v007,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_listen_radio,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,ZM8,1,748300,2024,35-49,urban,primary,male,25-54,No,...,no,no,no,married,>20,no,no,no,yes,>=2
1,ZM8,1,748300,2024,35-49,urban,higher,female,25-54,Yes,...,yes,yes,yes,married,15-17,no,no,no,yes,>=2
2,ZM8,1,748300,2024,15-24,urban,primary,female,<25,No,...,no,no,no,no longer living together/separated,15-17,no,yes,yes,yes,>=2
3,ZM8,1,748300,2024,15-24,urban,secondary,male,25-54,No,...,no,no,no,married,15-17,yes,no,no,yes,>=2
4,ZM8,1,748300,2024,25-34,urban,primary,female,25-54,No,...,no,no,yes,never in union,15-17,no,no,no,yes,>=2

In [388]:
print(df['marital_status'].value_counts(dropna=False))

marital_status
married                                7358
never in union                         4628
divorced                               1050
no longer living together/separated     453
widowed                                 363
living with partner                      99
Name: count, dtype: int64

In [389]:
df['marital_status'] = df['marital_status'].replace({
    'married': 'Married',
    'never in union': 'Single',
    'divorced': 'Divorced',
    'no longer living together/separated': 'Separated',
    'widowed': 'Widowed',
    'living with partner': 'Living with partner'
})

print("Value counts for 'marital_status' after renaming:")
print(df['marital_status'].value_counts(dropna=False))

Value counts for 'marital_status' after renaming:
marital_status
Married                7358
Single                 4628
Divorced               1050
Separated               453
Widowed                 363
Living with partner      99
Name: count, dtype: int64

/tmp/ipython-input-4107072191.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['marital_status'] = df['marital_status'].replace({

In [390]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'respondent_age', 'residence_type',
       'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_listen_radio', 'freq_watch_tv', 'owns_mobile_phone',
       'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [391]:
print(df['total_lifetime_sex_partners'].value_counts(dropna=False))

total_lifetime_sex_partners
>=2    7960
0-1    4284
NaN    1707
Name: count, dtype: int64

In [392]:
selected_columns = [
    'respondent_age', 'residence_type',
     'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_listen_radio', 'freq_watch_tv', 'owns_mobile_phone',
       'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'
]

df_selected = df[selected_columns]
display(df_selected.head())

,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_listen_radio,freq_watch_tv,owns_mobile_phone,wealth_index,current_contraceptive_method,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,35-49,urban,primary,male,25-54,No,No,yes,richer,Non-Hormonal,...,no,no,no,Married,>20,no,no,no,yes,>=2
1,35-49,urban,higher,female,25-54,Yes,Yes,yes,richest,Non-Hormonal,...,yes,yes,yes,Married,15-17,no,no,no,yes,>=2
2,15-24,urban,primary,female,<25,No,No,yes,richer,Hormonal,...,no,no,no,Separated,15-17,no,yes,yes,yes,>=2
3,15-24,urban,secondary,male,25-54,No,No,yes,middle,Hormonal,...,no,no,no,Married,15-17,yes,no,no,yes,>=2
4,25-34,urban,primary,female,25-54,No,No,yes,poorer,Hormonal,...,no,no,yes,Single,15-17,no,no,no,yes,>=2

In [393]:
df_selected.columns

Index(['respondent_age', 'residence_type', 'highest_edu_level',
       'sex_of_household_head', 'age_of_household_head', 'freq_listen_radio',
       'freq_watch_tv', 'owns_mobile_phone', 'wealth_index',
       'current_contraceptive_method', 'visited_health_facility_12mo',
       'smokes_cigarettes', 'permission_to_medical_Vist',
       'money_needed_for_medical_vist', 'distance_to_health_facility',
       'transport_for_medical_visit', 'waiting_time_concern_at_HF',
       'covered_by_health_insurance', 'breast_exam_by_provider',
       'cervical_cancer_tested', 'marital_status', 'age_at_first_sex',
       'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [394]:
missing_percentages = df.isnull().sum() / len(df) * 100
missing_percentages_df = pd.DataFrame({"Missing Percentage": missing_percentages})

print("Percentage of missing values for each variable BEFORE imputation:")
print(missing_percentages_df)

# Identify columns with missing values and their modes
columns_to_impute = [
    'age_of_household_head',
    'total_lifetime_sex_partners'
]

for col in columns_to_impute:
    if df[col].isnull().any(): # Check if there are any NaN values in the column
        mode_value = df[col].mode()[0]
        df[col].fillna(mode_value, inplace=True)
        print(f"Mode imputation applied to '{col}' with value: {mode_value}")


missing_percentages_after = df.isnull().sum() / len(df) * 100
missing_percentages_df_after = pd.DataFrame({"Missing Percentage After Imputation": missing_percentages_after})

print("\nPercentage of missing values for each variable AFTER imputation:")
print(missing_percentages_df_after)

Percentage of missing values for each variable BEFORE imputation:
                               Missing Percentage
v000                                     0.000000
v001                                     0.000000
v005                                     0.000000
v007                                     0.000000
respondent_age                           0.000000
residence_type                           0.000000
highest_edu_level                        0.000000
sex_of_household_head                    0.000000
age_of_household_head                    0.064512
freq_listen_radio                        0.000000
freq_watch_tv                            0.000000
owns_mobile_phone                        0.000000
wealth_index                             0.000000
current_contraceptive_method             0.000000
visited_health_facility_12mo             0.000000
smokes_cigarettes                        0.000000
permission_to_medical_Vist               0.000000
money_needed_for_medical_vist            0.000000
distance_to_health_facility              0.000000
transport_for_medical_visit              0.000000
waiting_time_concern_at_HF               0.000000
covered_by_health_insurance              0.000000
breast_exam_by_provider                  0.000000
cervical_cancer_tested                   0.000000
marital_status                           0.000000
age_at_first_sex                         0.000000
STI_last_12mo                            0.000000
genital_sore_last_12mo                   0.000000
genital_discharge_last_12mo              0.000000
ever_tested_hiv                          0.000000
total_lifetime_sex_partners             12.235682
Mode imputation applied to 'age_of_household_head' with value: 25-54
Mode imputation applied to 'total_lifetime_sex_partners' with value: >=2

Percentage of missing values for each variable AFTER imputation:
                               Missing Percentage After Imputation
v000                                                           0.0
v001                                                           0.0
v005                                                           0.0
v007                                                           0.0
respondent_age                                                 0.0
residence_type                                                 0.0
highest_edu_level                                              0.0
sex_of_household_head                                          0.0
age_of_household_head                                          0.0
freq_listen_radio                                              0.0
freq_watch_tv                                                  0.0
owns_mobile_phone                                              0.0
wealth_index                                                   0.0
current_contraceptive_method                                   0.0
visited_health_facility_12mo                                   0.0
smokes_cigarettes                                              0.0
permission_to_medical_Vist                                     0.0
money_needed_for_medical_vist                                  0.0
distance_to_health_facility                                    0.0
transport_for_medical_visit                                    0.0
waiting_time_concern_at_HF                                     0.0
covered_by_health_insurance                                    0.0
breast_exam_by_provider                                        0.0
cervical_cancer_tested                                         0.0
marital_status                                                 0.0
age_at_first_sex                                               0.0
STI_last_12mo                                                  0.0
genital_sore_last_12mo                                         0.0
genital_discharge_last_12mo                                    0.0
ever_tested_hiv                                                0.0
total_lifetime_sex_partners                                    0.0

/tmp/ipython-input-1810429367.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)

In [395]:
print(df_selected['total_lifetime_sex_partners'].value_counts(dropna=False))

total_lifetime_sex_partners
>=2    7960
0-1    4284
NaN    1707
Name: count, dtype: int64

In [396]:
df_selected.columns

Index(['respondent_age', 'residence_type', 'highest_edu_level',
       'sex_of_household_head', 'age_of_household_head', 'freq_listen_radio',
       'freq_watch_tv', 'owns_mobile_phone', 'wealth_index',
       'current_contraceptive_method', 'visited_health_facility_12mo',
       'smokes_cigarettes', 'permission_to_medical_Vist',
       'money_needed_for_medical_vist', 'distance_to_health_facility',
       'transport_for_medical_visit', 'waiting_time_concern_at_HF',
       'covered_by_health_insurance', 'breast_exam_by_provider',
       'cervical_cancer_tested', 'marital_status', 'age_at_first_sex',
       'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [397]:
for column in df_selected.columns:
    print(f"\nValue counts for '{column}':")
    print(df_selected[column].value_counts(dropna=False))

Value counts for 'respondent_age':
respondent_age
15-24    5889
25-34    4114
35-49    3948
Name: count, dtype: int64

Value counts for 'residence_type':
residence_type
rural    7820
urban    6131
Name: count, dtype: int64

Value counts for 'highest_edu_level':
highest_edu_level
secondary       6189
primary         5849
no education     959
higher           954
Name: count, dtype: int64

Value counts for 'sex_of_household_head':
sex_of_household_head
male      9468
female    4483
Name: count, dtype: int64

Value counts for 'age_of_household_head':
age_of_household_head
25-54    10976
55-64     1438
>65        826
<25        702
NaN          9
Name: count, dtype: int64

Value counts for 'freq_listen_radio':
freq_listen_radio
No     9361
Yes    4590
Name: count, dtype: int64

Value counts for 'freq_watch_tv':
freq_watch_tv
No     9335
Yes    4616
Name: count, dtype: int64

Value counts for 'owns_mobile_phone':
owns_mobile_phone
yes    7943
no     6008
Name: count, dtype: int64

Value counts for 'wealth_index':
wealth_index
middle     2839
poorest    2825
richer     2779
poorer     2756
richest    2752
Name: count, dtype: int64

Value counts for 'current_contraceptive_method':
current_contraceptive_method
Non-Hormonal    9315
Hormonal        4636
Name: count, dtype: int64

Value counts for 'visited_health_facility_12mo':
visited_health_facility_12mo
yes    10316
no      3635
Name: count, dtype: int64

Value counts for 'smokes_cigarettes':
smokes_cigarettes
no     13805
yes      146
Name: count, dtype: int64

Value counts for 'permission_to_medical_Vist':
permission_to_medical_Vist
not a big problem    13485
big problem            466
Name: count, dtype: int64

Value counts for 'money_needed_for_medical_vist':
money_needed_for_medical_vist
not a big problem    10887
big problem           3064
Name: count, dtype: int64

Value counts for 'distance_to_health_facility':
distance_to_health_facility
not a big problem    9715
big problem          4236
Name: count, dtype: int64

Value counts for 'transport_for_medical_visit':
transport_for_medical_visit
not a big problem    10785
big problem           3166
Name: count, dtype: int64

Value counts for 'waiting_time_concern_at_HF':
waiting_time_concern_at_HF
not a big problem    9965
big problem          3986
Name: count, dtype: int64

Value counts for 'covered_by_health_insurance':
covered_by_health_insurance
no     12812
yes     1139
Name: count, dtype: int64

Value counts for 'breast_exam_by_provider':
breast_exam_by_provider
no            12056
yes            1845
don't know       50
Name: count, dtype: int64

Value counts for 'cervical_cancer_tested':
cervical_cancer_tested
no            10229
yes            3680
don't know       42
Name: count, dtype: int64

Value counts for 'marital_status':
marital_status
Married                7358
Single                 4628
Divorced               1050
Separated               453
Widowed                 363
Living with partner      99
Name: count, dtype: int64

Value counts for 'age_at_first_sex':
age_at_first_sex
15-17          6497
<15            2392
18-19          2105
not had sex    1707
>20            1250
Name: count, dtype: int64

Value counts for 'STI_last_12mo':
STI_last_12mo
no            13460
yes             483
don't know        8
Name: count, dtype: int64

Value counts for 'genital_sore_last_12mo':
genital_sore_last_12mo
no            13465
yes             449
don't know       37
Name: count, dtype: int64

Value counts for 'genital_discharge_last_12mo':
genital_discharge_last_12mo
no            13335
yes             576
don't know       40
Name: count, dtype: int64

Value counts for 'ever_tested_hiv':
ever_tested_hiv
yes    11784
no      2167
Name: count, dtype: int64

Value counts for 'total_lifetime_sex_partners':
total_lifetime_sex_partners
>=2    7960
0-1    4284
NaN    1707
Name: count, dtype: int64

In [398]:
df_selected = df_selected[df_selected['cervical_cancer_tested'] != 'don\'t know']
print("Rows with 'don't know' in 'cervical_cancer_tested' have been removed.")
print(f"New shape of DataFrame: {df_selected.shape}")

Rows with 'don't know' in 'cervical_cancer_tested' have been removed.
New shape of DataFrame: (13909, 27)