<a href="https://colab.research.google.com/github/Fentahun60/Fentahun/blob/main/ZambiaCC_BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Path to your .dta file
file_path = '/content/drive/MyDrive/zambia_CC_BC.dta'

# Read the .dta file into a pandas DataFrame
try:
    df = pd.read_stata(file_path)
    print("File imported successfully! First 5 rows:")
    print(df.head())
except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found. Please ensure the path is correct and Google Drive is mounted.")
except Exception as e:
    print(f"An error occurred while reading the file: {e}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
File imported successfully! First 5 rows:
  v000  v001    v005  v007  v012   v025       v106    v151 v152  \
0  ZM8     1  748300  2024    42  urban    primary    male   44
1  ZM8     1  748300  2024    42  urban     higher  female   41
2  ZM8     1  748300  2024    24  urban    primary  female   24
3  ZM8     1  748300  2024    22  urban  secondary    male   26
4  ZM8     1  748300  2024    32  urban    primary  female   32

                   v157  ... v481 v484a v484b  \
0            not at all  ...   no    no    no
1  at least once a week  ...  yes   yes   yes
2  at least once a week  ...   no    no    no
3            not at all  ...   no    no    no
4  at least once a week  ...   no    no   yes

                                  v501 v525 v763a v763b v763c v781 v836
0                              married   22    no    no    no  yes  2.0
1                              married   17    no    no    no  yes  3.0
2  no longer living together/separated   16    no   yes   yes  yes  3.0
3                              married   15   yes    no    no  yes  5.0
4                       never in union   15    no    no    no  yes  3.0

[5 rows x 32 columns]

In [111]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'v012', 'v025', 'v106', 'v151', 'v152',
       'v157', 'v158', 'v159', 'v169a', 'v190', 'v312', 'v394', 'v463a',
       'v467b', 'v467c', 'v467d', 'v467e', 'v467k', 'v481', 'v484a', 'v484b',
       'v501', 'v525', 'v763a', 'v763b', 'v763c', 'v781', 'v836'],
      dtype='object')

In [112]:
# Assuming your dataframe is df

rename_dict = {
    "v012": "respondent_age",
    "v025": "residence_type",
    "v106": "highest_edu_level",
    "v151": "sex_of_household_head",
    "v152": "age_of_household_head",
    "v157": "freq_read_newspaper",
    "v158": "freq_listen_radio",
    "v159": "freq_watch_tv",
    "v169a": "owns_mobile_phone",
    "v190": "wealth_index",
    "v312": "current_contraceptive_method",
    "v394": "visited_health_facility_12mo",
    "v463a": "smokes_cigarettes",
    "v467b": "permission_to_medical_Vist",
    "v467c": "money_needed_for_medical_vist",
    "v467d": "distance_to_health_facility",
    "v467e": "transport_for_medical_visit",
    "v467k": "waiting_time_concern_at_HF",
    "v481": "covered_by_health_insurance",
    "v484a": "breast_exam_by_provider",
    "v484b": "cervical_cancer_tested",
    "v501": "marital_status",
    "v525": "age_at_first_sex",
    "v763a": "STI_last_12mo",
    "v763b": "genital_sore_last_12mo",
    "v763c": "genital_discharge_last_12mo",
    "v781": "ever_tested_hiv",
    "v836": "total_lifetime_sex_partners"
}

# Apply renaming
df = df.rename(columns=rename_dict)

df.head()

,v000,v001,v005,v007,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_read_newspaper,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,ZM8,1,748300,2024,42,urban,primary,male,44,not at all,...,no,no,no,married,22,no,no,no,yes,2.0
1,ZM8,1,748300,2024,42,urban,higher,female,41,at least once a week,...,yes,yes,yes,married,17,no,no,no,yes,3.0
2,ZM8,1,748300,2024,24,urban,primary,female,24,at least once a week,...,no,no,no,no longer living together/separated,16,no,yes,yes,yes,3.0
3,ZM8,1,748300,2024,22,urban,secondary,male,26,not at all,...,no,no,no,married,15,yes,no,no,yes,5.0
4,ZM8,1,748300,2024,32,urban,primary,female,32,at least once a week,...,no,no,yes,never in union,15,no,no,no,yes,3.0

In [113]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'respondent_age', 'residence_type',
       'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_read_newspaper', 'freq_listen_radio', 'freq_watch_tv',
       'owns_mobile_phone', 'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')

In [114]:
df["freq_listen_radio"] = df["freq_listen_radio"].replace({
    "not at all": "No",
    "less than once a week": "No",
    "at least once a week": "Yes",
    "almost every day": "Yes"})

/tmp/ipython-input-2432297828.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["freq_listen_radio"] = df["freq_listen_radio"].replace({

In [115]:
df["freq_watch_tv"] = df["freq_watch_tv"].replace({
    "not at all": "No",
    "less than once a week": "No",
    "at least once a week": "Yes",
    "almost every day": "Yes"})

/tmp/ipython-input-3206452986.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["freq_watch_tv"] = df["freq_watch_tv"].replace({

In [116]:
df["current_contraceptive_method"] = df["current_contraceptive_method"].replace({

    # Hormonal
    "pill": "Hormonal",
    "injections": "Hormonal",
    "implants/norplant": "Hormonal",
    "emergency contraception": "Hormonal",
    "lactational amenorrhea (lam)": "Hormonal",

    # Non-hormonal
    "not using": "Non-Hormonal",
    "iud": "Non-Hormonal",
    "male condom": "Non-Hormonal",
    "female condom": "Non-Hormonal",
    "female sterilization": "Non-Hormonal",
    "periodic abstinence": "Non-Hormonal",
    "withdrawal": "Non-Hormonal",
    "other traditional": "Non-Hormonal",
    "other modern method": "Non-Hormonal",
    "standard days method (sdm)": "Non-Hormonal"
})

/tmp/ipython-input-1238457597.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df["current_contraceptive_method"] = df["current_contraceptive_method"].replace({

In [117]:
import pandas as pd
import numpy as np

# Example: your dataframe is df and the column is 'age_at_first_sex'

def recategorize_age(x):
    # Handle non-numeric values first
    if pd.isna(x):
        return np.nan
    if isinstance(x, str) and x.lower() == "not had sex":
        return "not had sex"

    # Convert to numeric if it's a string number
    try:
        x = float(x)
    except:
        return np.nan

    # Categorize
    if x < 15:
        return "<15"
    elif 15 <= x <= 17:
        return "15-17"
    elif 18 <= x <= 19:
        return "18-19"
    elif x >= 20:
        return ">20"
    else:
        return np.nan

# Apply to dataframe
df["age_at_first_sex"] = df["age_at_first_sex"].apply(recategorize_age)

# View result
df["age_at_first_sex"].value_counts(dropna=False)

age_at_first_sex
15-17          6497
<15            2392
18-19          2105
not had sex    1707
>20            1250
Name: count, dtype: int64

In [118]:
df["total_lifetime_sex_partners"] = df["total_lifetime_sex_partners"].apply(
    lambda x: "0-1" if pd.to_numeric(x, errors="coerce") <= 1 else ">=2"
)

In [119]:
missing_percentages = df.isnull().sum() / len(df) * 100
missing_percentages_df = pd.DataFrame({"Missing Percentage": missing_percentages})

print("Percentage of missing values for each variable:")
print(missing_percentages_df)

Percentage of missing values for each variable:
                               Missing Percentage
v000                                     0.000000
v001                                     0.000000
v005                                     0.000000
v007                                     0.000000
respondent_age                           0.000000
residence_type                           0.000000
highest_edu_level                        0.000000
sex_of_household_head                    0.000000
age_of_household_head                    0.000000
freq_read_newspaper                      0.000000
freq_listen_radio                        0.000000
freq_watch_tv                            0.000000
owns_mobile_phone                        0.000000
wealth_index                             0.000000
current_contraceptive_method             0.000000
visited_health_facility_12mo             0.000000
smokes_cigarettes                        0.000000
permission_to_medical_Vist               0.000000
money_needed_for_medical_vist            0.000000
distance_to_health_facility              0.000000
transport_for_medical_visit              0.000000
waiting_time_concern_at_HF               0.000000
covered_by_health_insurance              0.000000
breast_exam_by_provider                  0.000000
cervical_cancer_tested                   0.000000
marital_status                           0.000000
age_at_first_sex                         0.000000
STI_last_12mo                            0.000000
genital_sore_last_12mo                   0.000000
genital_discharge_last_12mo              0.000000
ever_tested_hiv                          0.000000
total_lifetime_sex_partners             12.235682

In [120]:
df.head()

,v000,v001,v005,v007,respondent_age,residence_type,highest_edu_level,sex_of_household_head,age_of_household_head,freq_read_newspaper,...,covered_by_health_insurance,breast_exam_by_provider,cervical_cancer_tested,marital_status,age_at_first_sex,STI_last_12mo,genital_sore_last_12mo,genital_discharge_last_12mo,ever_tested_hiv,total_lifetime_sex_partners
0,ZM8,1,748300,2024,42,urban,primary,male,44,not at all,...,no,no,no,married,>20,no,no,no,yes,>=2
1,ZM8,1,748300,2024,42,urban,higher,female,41,at least once a week,...,yes,yes,yes,married,15-17,no,no,no,yes,>=2
2,ZM8,1,748300,2024,24,urban,primary,female,24,at least once a week,...,no,no,no,no longer living together/separated,15-17,no,yes,yes,yes,>=2
3,ZM8,1,748300,2024,22,urban,secondary,male,26,not at all,...,no,no,no,married,15-17,yes,no,no,yes,>=2
4,ZM8,1,748300,2024,32,urban,primary,female,32,at least once a week,...,no,no,yes,never in union,15-17,no,no,no,yes,>=2

In [121]:
df = df.drop('freq_read_newspaper', axis=1)

In [122]:
tabulation = df['total_lifetime_sex_partners'].value_counts(normalize=True, dropna=False) * 100
print("Tabulation of 'total_lifetime_sex_partners' (in %):")
print(tabulation.round(2).astype(str) + '%')

Tabulation of 'total_lifetime_sex_partners' (in %):
total_lifetime_sex_partners
>=2    57.06%
0-1    30.71%
NaN    12.24%
Name: proportion, dtype: object

In [123]:
df.columns

Index(['v000', 'v001', 'v005', 'v007', 'respondent_age', 'residence_type',
       'highest_edu_level', 'sex_of_household_head', 'age_of_household_head',
       'freq_listen_radio', 'freq_watch_tv', 'owns_mobile_phone',
       'wealth_index', 'current_contraceptive_method',
       'visited_health_facility_12mo', 'smokes_cigarettes',
       'permission_to_medical_Vist', 'money_needed_for_medical_vist',
       'distance_to_health_facility', 'transport_for_medical_visit',
       'waiting_time_concern_at_HF', 'covered_by_health_insurance',
       'breast_exam_by_provider', 'cervical_cancer_tested', 'marital_status',
       'age_at_first_sex', 'STI_last_12mo', 'genital_sore_last_12mo',
       'genital_discharge_last_12mo', 'ever_tested_hiv',
       'total_lifetime_sex_partners'],
      dtype='object')